.dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  background: rgba(0, 0, 0, 0.8);

  &-overlay {
    position: relative;
    
    .container.main {
      filter: blur(2px);
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-header {
    color: #fff;
  }

  &-body {
    overflow-y: auto;
  }

  &-actions {
    button {
      display: block;
      padding: 1em;
      margin: 1em auto;
      color: #fff;
      background: #006dff;
      border: 0;
    }
  }
}
