.global-header {
  display: flex;
  align-items: center;
  font-size: 150%;
  background: #fff;
  border-bottom: 1px solid #eee;

  .menu {
    margin-left: auto;

    a {
      display: inline-block;
      padding: 1em 0.5em;
      margin: 0 0.5em;
    }

    .tw {
      width: 22px;
      height: auto;
    }

    > * {
      vertical-align: middle;
    }
  }

  .branding {
    position: absolute;
    top: 0;
    z-index: 3;
    font-size: 100%;
    color: #006dff;
    text-decoration: none;
    letter-spacing: 0;
  }

  .help-btn {
    -webkit-appearance: none;
    width: auto;
    padding: 1em;
    font-size: 14px;
    background: 0;
    border: 0;
  }

  @media (--sp) {
    .branding {
      img {
        height: 36px;
      }
    }

    .menu {
      font-size: 10px;
    }
  }
}

.global-body {
  position: relative;
  flex: 1;
  overflow: hidden;
  background-image: url('assets/public/bg.png');
}

.global-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 100%;
  color: #fff;
  background: var(--color);

  .menu {
    margin-right: auto;

    a {
      display: inline-block;
      padding: 0.5em;
      margin: 0 0.5em;
    }
  }
}
