@custom-media --sp (max-width: 500px);
@custom-media --md (min-width: 500px);

:root {
  --light: #a8c8f1;
  --hover: rgba(0, 0, 0, 0.3);
  --drop-bg: rgba(33, 150, 243, 0.33);
  --btn: linear-gradient(130deg, #24568a, #006dff);
  --color: #2d2b3e;
  --alert: #b808ce;
}
