.empty-message(jsname="empty-message")
  .not-mb
    i.material-icons.large add_a_photo
    div ここにファイルをドロップ。
    ul
      li 複数のファイルをまとめてドロップも可能です。
      li 画像ファイル以外は追加されません。
      li 画像ファイルはサーバー等にアップロードしません。
      li 安心してご利用ください。
  .is-mb
    div 画像を追加してください。
