.global-footer
  .menu
    a(href="https://github.com/shiba328/join-images/issues") 機能改善はこちら
    //- a(href="https://virlent.com") About
    a(href="https://forms.gle/humPNdoJcJ7KmaWB6") フォームからお問い合わせ
  .copyright (c) 2019 Virlent.
