head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="description", content="フォトショや加工アプリより簡単素早く、バラバラの複数の画像を一枚にまとめてくれる画像結合ツール。プレゼン資料やパワポの添付画像に便利なキャプション追加可能。")
  meta(content="website", property="og:type")
  meta(content="ja_JP", property="og:locale")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:site", content="shiba_328")
  meta(name="twitter:title", content="「画像くっつけたー」| Compile Images")
  meta(name="twitter:description", content="フォトショや加工アプリより簡単素早く、バラバラの複数の画像を一枚にまとめてくれる画像結合ツール。プレゼン資料やパワポの添付画像に便利なキャプション追加可能。")
  meta(name="twitter:image", content="https://shiba328.github.io/join-images/images/ogp.png")
  meta(content="https://shiba328.github.io/join-images/images/ogp.png" property="og:image")
  meta(name="og:image:width", content="800")
  meta(name="og:image:og:height", content="419")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons&text=menu_openformat_align_centerformat_align_leftformat_align_rightformat_align_justifyvertical_align_bottomvertical_align_centervertical_align_topadd_a_photowrap_texthighlight_offfile_downloadformat_color_fillformat_color_textnavigate_beforenavigate_next" rel="stylesheet")
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WMH5SJH');

