block vars

.global-header
  .branding: img(src=require("assets/public/logo.png").default alt=site.title)
  .menu
    a(href=`https://twitter.com/${site.name}` target="_blank")
      i.svg-icon
        include ../svg/tw.svg
    button.help-btn(jsname="open_help_btn") ヘルプ
