block vars

.global-header
  .branding: img(src=require("assets/public/logo.png").default alt=site.title)
  .menu
    span.ver
      span 最終更新:
      span(jsname="version")
    a(href=`https://twitter.com/${site.name}` target="_blank" rel="noreferrer")
      i.svg-icon
        include ../svg/tw.svg
      span Twitter
    button.help-btn(jsname="open_help_btn") ヘルプ
