head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="description", content="ダウンロード不要！フォトショや加工アプリより簡単素早く、複数の写真を一枚にまとめてくれる結合コラージュツール。グリッドレイアウトでプレゼン資料やパワポの添付画像に便利なキャプション文字入れ追加可能。")
  meta(content="website", property="og:type")
  meta(content="ja_JP", property="og:locale")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:site", content="shiba_328")
  meta(name="twitter:title", content="「画像くっつけたー」| Compile Images")
  meta(name="twitter:description", content="フォトショや加工アプリより簡単素早く、バラバラの複数の画像を一枚にまとめてくれる画像結合ツール。プレゼン資料やパワポの添付画像に便利なキャプション追加可能。")
  meta(name="twitter:image", content="https://shiba328.github.io/join-images/images/ogp.png")
  meta(content="https://shiba328.github.io/join-images/images/ogp.png" property="og:image")
  meta(name="og:image:width", content="800")
  meta(name="og:image:og:height", content="419")
  link(rel="apple-touch-icon", sizes="180x180", href="https://shiba328.github.io/join-images/fav/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="https://shiba328.github.io/join-images/fav/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="https://shiba328.github.io/join-images/fav/favicon-16x16.png")
  link(rel="manifest", href="https://shiba328.github.io/join-images/fav/site.webmanifest")
  link(rel="mask-icon", href="https://shiba328.github.io/join-images/fav/safari-pinned-tab.svg", color="#2a66b1")
  meta(name="msapplication-TileColor", content="#2a66b1")
  meta(name="theme-color", content="#ffffff")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons&text=menuopenformat_align_centerformat_align_leftformat_align_rightformat_align_justifyvertical_align_bottomvertical_align_centervertical_align_topadd_a_photowrap_texthighlight_offfile_downloadformat_color_fillformat_color_textnavigate_beforenavigate_next" rel="stylesheet")
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WMH5SJH');

