<!DOCTYPE html>
html(lang="ja")
  include assets/component/head.pug
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WMH5SJH" height="0" width="0" style="display:none;visibility:hidden")
    .container.main(style="display:none")
      include assets/component/header.pug
      .global-body
        include assets/component/empty-message.pug
        .main-canvas-wrapper.scrollbar(jsname="wrap-canvas")
          .main-canvas.wrap.column-2.fontsize-36.padding-0.justify-center.align-center(jsname="main-canvas")
      include assets/component/layout-tool.pug
      include assets/component/footer.pug
    include assets/component/foot.pug
    include assets/component/first-access.pug
    include assets/component/preview.pug