doctype html
block vars
  -
    var site = {
      title: "画像くっつけたー",
      name: "pictcolla",
      description: "ダウンロード不要！グリッドレイアウトに、組写真並べ方ツール。フォトショや加工アプリより簡単素早く、複数の写真を一枚に結合し並べ替えてまとめてるコラージュ。文字入れ機能でプレゼン資料やパワポの添付画像に便利なキャプション追加",
      url: "https://github.com/shiba328/join-images",
      gtm: "https://www.googletagmanager.com/ns.html?id=GTM-WMH5SJH",
      ogp: "https://shiba328.github.io/join-images/images/ogp.png",
      ati: "https://shiba328.github.io/join-images/images/fav/apple-touch-icon.png",
      icon32: "https://shiba328.github.io/join-images/images/fav/favicon-32x32.png",
      icon16: "https://shiba328.github.io/join-images/images/fav/favicon-16x16.png",
      iconmask: "https://shiba328.github.io/join-images/images/fav/safari-pinned-tab.svg",
      manifest: "https://shiba328.github.io/join-images/images/fav/site.webmanifest",
      themeColor: "#2a66b1",
      issues: "https://github.com/shiba328/join-images/issues",
      contact: "https://forms.gle/humPNdoJcJ7KmaWB6"
    }
html(lang="ja")
  include assets/component/head.pug
  body
    noscript
      iframe(src=site.gtm height="0" width="0" style="display:none;visibility:hidden")
    .container.main(style="display:none")
      include assets/component/header.pug
      .global-body
        include assets/component/empty-message.pug
        .main-canvas-wrapper.scrollbar(jsname="wrap-canvas")
          .main-canvas.wrap.column-2.fontsize-36.padding-0.justify-center.align-center(jsname="main-canvas")
      include assets/component/layout-tool.pug
      include assets/component/footer.pug
    include assets/component/foot.pug
    include assets/component/first-access.pug
    include assets/component/preview.pug
