@import './assets/style/base';
@import './assets/style/globals';

@custom-media --sp (max-width: 500px);
@custom-media --md (min-width: 500px);

:root {
  --light: #a8c8f1;
}

.main-canvas {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;

  &.wrap {
    flex-wrap: wrap;
    height: auto;

    &.column-2 {
      display: inline-flex;

      > .divider:nth-child(4n) {
        width: 100%;
      }

      .item {
        max-width: 50%;
      }
    }

    &.column-3 {
      display: inline-flex;

      > .divider:nth-child(6n) {
        width: 100%;
      }

      .item {
        max-width: 33.33333%;
      }
    }

    &.column-4 {
      display: inline-flex;

      > .divider:nth-child(8n) {
        width: 100%;
      }

      .item {
        max-width: 25%;
      }
    }
  }

  &.justify {
    &-normal {
      justify-content: normal;
    }

    &-center {
      justify-content: center;
    }

    &-flex-start {
      justify-content: flex-start;
    }

    &-flex-end {
      justify-content: flex-end;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-space-evenly {
      justify-content: space-evenly;
    }

    &-stretch {
      justify-content: stretch;
    }
  }

  &.align {
    &-unset {
      align-items: unset;
    }

    &-center {
      align-items: center;
    }

    &-flex-start {
      align-items: flex-start;
    }

    &-flex-end {
      align-items: flex-end;
    }

    &-stretch {
      align-items: stretch;
    }
  }

  &.padding {
    &-8 .item { padding: 8px; }
    &-16 .item { padding: 16px; }
    &-32 .item { padding: 32px; }
    &-48 .item { padding: 48px; }
  }

  &.fontsize {
    &-12 .caption { font-size: 12px; }
    &-16 .caption { font-size: 16px; }
    &-22 .caption { font-size: 22px; }
    &-36 .caption { font-size: 36px; }
  }

  &.dragover {
    background: #014cad0a;
    filter: blur(1px);
    border-color: var(--light);
  }

  &-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
  }

  .item {
    position: relative;

    &:hover {
      border: 1px solid #eee;

      .caption {
        border: 1px solid #eee;
      }

      .remove {
        display: block;
      }
    }

    .caption {
      position: relative;
      display: flex;
      margin-top: 4px;

      &-input {
        position: absolute;
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        min-height: 1em;
        overflow: hidden;
        line-height: 1;
        text-align: center;
        letter-spacing: 0;
        resize: none;
        background: transparent;
        border: 0;
        outline: 0;
      }

      &-dummy {
        min-height: 1em;
        padding: 2px;
        line-height: 1;
        color: transparent;
        text-align: center;
        letter-spacing: 0;
      }
    }

    .remove {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      display: none;

      i {
        display: block;
        font-size: 4em;
        cursor: pointer;
        background: #fff;
        border-radius: 1em;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.empty-message {
  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
    font-size: 5vw;
    opacity: 0.2;

    ul {
      font-size: 2vw;
    }
  }

  .not-mb {
    @media (--sp) {
      display: none;
    }
  }

  .is-mb {
    @media (--md) {
      display: none;
    }
  }
}

.layout-tools {
  position: absolute;
  bottom: 0;
  z-index: 3;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));

  .btn {
    display: block;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0;
  }

  .add-file {
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5em;
      height: 5em;
      margin-right: 16px;
      margin-left: auto;
      color: #fff;
      background: #006dff;
      border-radius: 2.5em;
    }

    @media (--md) {
      display: none;
    }
  }

  @media (--sp) {
    margin-right: auto;
  }

  .close {
    .btn {
      width: 5em;
      padding-top: 0.5em;
      margin-left: auto;
      background: #fff;
      border-radius: 3em 3em 0 0;

      @media (--sp) {
        margin-right: auto;
      }
    }
  }

  &-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    background: #fff;

    > * {
      margin-right: 8px;
      margin-bottom: 8px;
    }

    label {
      display: inline-block;
      margin: 0 2px;
      vertical-align: middle;

      input:checked + i {
        color: #000;
        border-color: #aaa;
      }
    }

    .material-icons {
      display: block;
      color: #bbb;
      border: 1px solid transparent;
      border-radius: 2px;
  
      &:hover {
        color: #000;
        border-color: #aaa;
      }
    }

    .style {
      &-input {
        height: 26px;
        border: 1px solid #aaa;
        border-radius: 2px;
      }
    }

    .download {
      margin-left: 8px;
  
      .btn {
        .material-icons {
          color: #fff;
          background: #00ad0f;
  
          &:hover {
            background: #aaa;
          }
        }
      }
    }

    .canvassize {
      .container {
        display: flex;
        align-items: center;
        height: 26px;
  
        input {
          width: 4em;
          height: 26px;
        }
      }
    }

    .yet {
      pointer-events: none;
      opacity: 0.3;
    }
  }
}
