@import './assets/style/base';
@import './assets/style/globals';
@import './assets/style/dialog';
@import './assets/style/first-access';

@custom-media --sp (max-width: 500px);
@custom-media --md (min-width: 500px);

:root {
  --light: #a8c8f1;
  --hover: rgba(0, 0, 0, 0.3);
  --drop-bg: rgba(33, 150, 243, 0.33);
  --btn: linear-gradient(130deg, #3581d0, #006dff);
}

@media (--sp) {
  .global-header {
    .branding {
      img {
        height: 36px;
      } 
    }

    .menu {
      font-size: 10px;
    }
  }
}

.main-canvas {
  position: relative;
  z-index: 2;

  &.justify {
    &-normal {
      justify-content: normal;
    }

    &-center {
      justify-content: center;
      text-align: center;
    }

    &-flex-start {
      justify-content: flex-start;
      text-align: left;
    }

    &-flex-end {
      justify-content: flex-end;
      text-align: right;
    }

    &-space-between {
      justify-content: space-between;
    }
  }

  &.align {
    &-center {
      .item {
        vertical-align: middle;
      }
    }

    &-flex-start {
      .item {
        vertical-align: top;
      }
    }

    &-flex-end {
      .item {
        vertical-align: bottom;
      }
    }
  }

  &:not(.wrap) {
    white-space: nowrap;

    .item {
      display: inline-block;
    }

    .divider {
      display: none;
    }
  }

  &.wrap {
    .item {
      display: inline-block;
    }

    > .divider {
      clear: both;
    }

    &.column-1 {
      > .divider {
      }
    }

    &.column-2 {
      > .divider:not(:nth-child(4n)) {
        display: none;
      }

      .item {
        max-width: 50%;
      }
    }

    &.column-3 {
      > .divider:not(:nth-child(6n)) {
        display: none;
      }

      .item {
        max-width: 33.33333%;
      }
    }

    &.column-4 {
      > .divider:not(:nth-child(8n)) {
        display: none;
      }

      .item {
        max-width: 25%;
      }
    }
  }

  &.padding {
    &-0 .item { padding: 0px; }
    &-8 .item { padding: 8px; }
    &-16 .item { padding: 16px; }
    &-32 .item { padding: 32px; }
    &-48 .item { padding: 48px; }
  }

  &.fontsize {
    &-12 .caption { font-size: 12px; }
    &-16 .caption { font-size: 16px; }
    &-22 .caption { font-size: 22px; }
    &-36 .caption { font-size: 36px; }
  }

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;

    @media (--sp) {
      background-size: 50%;
    }

    &.dragover {
      background: var(--drop-bg);
      filter: blur(1px);
      border-color: var(--light);
    }
  }
}

.item {
  position: relative;
  /* border: 1px solid transparent; */

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .caption {
    position: relative;
    display: flex;
    /* border-top: 1px solid transparent; */

    &-input {
      position: absolute;
      -webkit-appearance: none;
      width: 100%;
      height: 106%;
      padding: 0;
      overflow: hidden;
      line-height: 1;
      color: inherit;
      text-align: center;
      letter-spacing: 0;
      resize: none;
      background: transparent;
      border: 0;
      outline: 0;
    }

    &-dummy {
      line-height: 1;
      color: transparent;
      text-align: center;
      letter-spacing: 0;
    }
  }

  &:hover {
    border: 1px solid var(--hover);

    .caption {
      border-top: 1px solid var(--hover);
      /* margin-top: 4px; */

      &-dummy {
        min-height: 1em;
      }

      &-input {
        display: block;
      }
    }

    .navigate_next,
    .navigate_before,
    .remove {
      display: block;
    }
  }

  .navigate_next,
  .navigate_before,
  .remove {
    position: absolute;
    display: none;

    i {
      display: block;
      font-size: 4em;
      color: #000;
      cursor: pointer;
      background: #fff;
      border-radius: 1em;
    }
  }

  .remove {
    position: absolute;
    top: -1.5em;
    right: -1.5em;
  }

  .navigate_before {
    top: 50%;
    left: -2em;
    margin-top: -20px;
  }

  .navigate_next {
    top: 50%;
    right: -2em;
    margin-top: -20px;
  }
}

.divider:last-of-type {
  display: none;
}

.global-body {
  background-image: url('./assets/public/bg.png');
}

.empty-message {
  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
    font-size: 5vw;

    ul {
      font-size: 2vw;
    }
  }

  .not-mb {
    @media (--sp) {
      display: none;
    }
  }

  .is-mb {
    @media (--md) {
      display: none;
    }
  }
}

.layout-tools {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));

  @media (--sp) {
    margin-right: auto;
  }

  .btn {
    display: block;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0;
  }

  .add-file {
    position: absolute;
    top: -90px;
    right: 0;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5em;
      height: 5em;
      margin-right: 0;
      margin-bottom: 8px;
      margin-left: auto;
      color: #fff;
      background: var(--btn);
      border-radius: 2.5em;
    }
  }

  .close {
    position: absolute;
    top: -33px;
    right: 0;

    .btn {
      display: block;
      width: 5em;
      padding-top: 0.5em;
      margin-left: auto;
      text-align: center;
      background: #fff;
      border-radius: 3em 3em 0 0;
    }
  }

  #close:checked + .layout-tools-inner {
    display: none;
  }

  &-inner {
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding: 8px;
    padding-bottom: 0;
    background: #fff;

    > * {
      margin-right: 8px;
      margin-bottom: 8px;
    }

    label {
      display: inline-block;
      margin: 0 2px;
      vertical-align: middle;

      input:checked + i {
        color: #000;
        border-color: #aaa;
      }
    }

    .material-icons {
      display: block;
      color: #bbb;
      border: 1px solid transparent;
      border-radius: 2px;
  
      &:hover {
        color: #000;
        border-color: #aaa;
      }
    }

    .style {
      &-input {
        width: 4em;
        height: 27px;
        border: 1px solid #aaa;
        border-radius: 2px;
      }
    }

    .select {
      display: block;
      width: 4em;
      height: 27px;
      padding: 0;
      margin: 0;
    }

    .void ~ .select {
      pointer-events: none;
      opacity: 0.3;
    }

    .void:checked ~ .select {
      pointer-events: unset;
      opacity: 1;
    }

    .yet {
      pointer-events: none;
      opacity: 0.3;
    }
  }
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 13px 3px;
  white-space: nowrap;
  background: #fff;

  @media (--md) {
    float: left;
  }

  .btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #fff;
    background: var(--btn);
    border-radius: 2em;

    &:hover {
      background: #aaa;
    }


    .label {
      font-size: 16px;
    }
  }
}

.preview {
  img {
    display: block;
    width: auto;
    max-width: 80%;
    height: auto;
    max-height: 80%;
    margin: auto;
  }
}

.save {
  padding: 8px 16px;
  margin: auto;
  font-size: 16px;
  color: #fff;
  background: var(--btn);
  border: 0;
  border-radius: 2em;
}

.dialog-alert {
  padding: 1em;
  color: #fff;
  text-align: center;

  .attention {
    @media (--md) {
      display: none;
    }
  }

  .announce {
    display: inline-block;
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 2em;

    @media (--md) {
      display: none;
    }
  }
}
